.tab-pane{
    -fx-tab-min-width:90px;
}

.button:hover {
    -fx-background-color: #1658e7;
}

.combo-box-base:hover
{
    -fx-color: #1658e7;
}

.check-box:selected .mark {
    -fx-background-color: #1658e7;
}

.radio-button:selected .radio .dot {
    -fx-background-color: #1658e7;
    -fx-background-insets: 0;
}

#big-button {
    -fx-font-size: 22px;
    -fx-background-radius: 12px;
}

.table-view .column-header {
    -fx-background-color: #1658e7;
}

.table-row-cell{
    -fx-background-color: -fx-table-cell-border-color, #ececec; /* the color of the darker row */
}

.table-row-cell:odd{
    -fx-background-color: -fx-table-cell-border-color, #d9d9d9;  /* the color of the lighter row */
}

.table-row-cell:selected {  /* Where you have a row selected */
    -fx-background-color: #010e11;
    -fx-background-insets: 0;
    -fx-background-radius: 1;
}

#roster-tab-pane {
    -fx-tab-min-width: 10px;
}

#roster-tab-pane .tab {
    -fx-background-insets: 0 0 0 0,0,0;
}

#roster-tab-pane .tab:selected {
    -fx-background-color: #6c7179;
    /*  -fx-background-image: url("background.jpg");*/
}

#roster-tab-pane .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: #828282;
    -fx-font-size: 10px;
    -fx-font-weight: bold;
}

#grey-box {
    -fx-background-color: #6c7179 /* #dfdada*/
}

#black-box {
    -fx-background-color: #383f45
}