<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%cyan(%d{yyyy-MM-dd HH:mm:ss.SSS}) %white([%thread]) %highlight(%-5level) %green(%logger{36}) - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="debug">
        <appender-ref ref="STDOUT" />
    </root>

    <logger name="org.ecsail.Halyard" level="info" />

    <logger name="org.springframework.jdbc.core" level="info"/>

    <!-- Suppress debug logs from MariaDB JDBC driver and Spring DataSource utilities -->
    <logger name="org.mariadb.jdbc" level="info"/>
    <logger name="org.springframework.jdbc.datasource" level="info"/>

</configuration>


