
.root{
    -fx-font-size: 9pt;
    -fx-font-family: "Verdana";
}


.button:hover {
    -fx-background-color: #1658e7;
}

.scroll-pane > .viewport {
    -fx-background-color: transparent;
}

.scroll-pane {
    -fx-background-color: transparent;
}

.combo-box-base:hover
{
    -fx-color: #1658e7;
}

.check-box:selected .mark {
    -fx-background-color: #1658e7;
}

.radio-button:selected .radio .dot {
    -fx-background-color: #1658e7;
    -fx-background-insets: 0;
}

#big-button {
    -fx-font-size: 22px;
    -fx-background-radius: 12px;
}

/*box-grey*/
#box-frame-light {
    -fx-background-color: #6c7179 /* #dfdada*/
}

#box-background-light {
    -fx-background-color: #6c7179 /* #dfdada*/
}
/*black box*/
#box-frame-dark {
    -fx-background-color: #383f45
}

#box-background-dark {
    -fx-background-color: #383f45
}

#sub-box-background-light {
    -fx-background-color: #ececec;
}

.separator *.line {
    -fx-border-style: solid;
    -fx-border-width: 0 0 2 0; /* its make really one-pixel-border */
    -fx-border-color: black;
}

#labels {
    -fx-font-weight: bold;
}



/*#committee-title {*/
/*    -fx-text-fill: #ffffff;*/
/*}*/